* {
  margin: 0;
  padding: 0;
}


.body {
  background-color: #ced8e1;
}

.container {
  width: 80%;
  margin: auto;
}

.top {
  background-color: #0f2b40;
}

.top .parent-top {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .parent-top .top-left {
  text-align: left;
  padding: 5px;
  margin: auto;
  width: 70%;
}

.top .parent-top .top-left .line {
  margin: 0 5px;
  display: inline-block;
  background-color: #1cc79d;
  border-radius: 20px;
  height: 10px;
  width: 85px;
}

.top .parent-top .top-right {
  width: 30%;
  text-align: right;
  padding: 5px;
  margin: auto;
}

.top .parent-top .top-right .box {
  display: inline-block;
  background-color: #1cc79d;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  margin: 0 5px;
}

.bottom {
  background-color: #ced8e1;
}

.bottom .child-top {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.bottom .child-top .top-left {
  width: 30%;
  text-align: left;
  margin: auto;
}

.bottom .child-top .top-left .box {
  background-color: #0f2b40;
  border-radius: 16px;
  height: 6rem;
  width: 16rem;
  margin: 0 5px;
}

.bottom .child-top .top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 5px;
  width: 70%;
}

.bottom .child-top .top-right .line {
  margin: 0 5px;
  background-color: #1cc79d;
  border-radius: 20px;
  height: 9px;
  width: 90px;
}

.info {
  background-color: #0f2b40;
}

.info .main-info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 0;
}

.info .main-info .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .main-info .intro .line1 {
  margin: 0 5px;
  background-color: #1cc79d;
  border-radius: 20px;
  height: 15px;
  width: 10rem;
}

.info .main-info .intro .line2 {
  margin: 0 5px;
  background-color: #1cc79d;
  border-radius: 20px;
  height: 15px;
  width: 20rem;
}

.info .main-info .intro .line3 {
  margin: 0 5px;
  background-color: #1cc79d;
  border-radius: 20px;
  height: 15px;
  width: 17rem;
}

.info .main-info .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.info .main-info .content-info .line1 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line2 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line3 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line4 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line5 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line6 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line7 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line8 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line9 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line10 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line11 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .content-info .line12 {
  margin: 0 5px;
  background-color: white;
  border-radius: 20px;
  height: 15px;
  width: 85px;
}

.info .main-info .button .real-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-color: #1cc79d;
  border-radius: 30px;
  height: 60px;
  width: 15rem;
  margin-top: 20px;
}
